$color-green: #a0c878;
$color-half-yellow: #ddeb9d;
$color-half-pink: #faf6e9;
$color-dark-white: #fffdf6;

.buttons-container {
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px 20px;
  border-radius: 6px;
  .content-box {
    p {
      font-weight: 500;
      color: $color-green;
      span {
        color: yellowgreen;
      }
    }
    .btns {
      display: flex;
    }
    button {
      margin: 0px 10px;
      padding: 6px 15px;
      width: 120px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      font-size: 1.02rem;
      border: 1px solid $color-green;
      background-color: $color-green;
      font-weight: 400;
      border-radius: 4px;
      color: $color-half-pink;
      cursor: pointer;
      &:hover {
        background-color: $color-half-yellow;
      }
    }
  }
  .box-left {
    display: flex;
    gap: 25px;
  }
}
