$pinkColor: rgb(231, 0, 169);
.gamebox-container {
  min-height: 95vh;
  width: 60%;
  margin: 0px auto;
  border: 1px solid black;
  text-align: center;
  .best-score {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    span {
      font-size: 2.5rem;
      display: flex;
    }
    h2 {
      font-size: 2.5rem;
      color: $pinkColor;
      padding: 0%;
      margin: 0%;
    }
  }
  .score {
    h1 {
      font-size: 3.8rem;
      margin: 0px auto 10px auto;
      padding: 0%;
    }
  }
  .game-field {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 2px solid rgb(119, 119, 227);
    width: 44%;
    margin: 0px auto;
    .box-group {
      .box {
        border: 1px solid rgb(234, 226, 226);
        width: 40px;
        height: 40px;
        background-color: rgb(250, 170, 170);
      }
    }
  }
}
