.start-window {
  width: 70%;
  border: 1px solid rgb(195, 192, 192);
  margin: 11.5% auto;
  padding: 20px;
  border-radius: 4px;
  .titles {
    display: flex;
    justify-content: space-evenly;
    border-radius: 4px;
    gap: 50px;
    background-color: rgb(197, 236, 255);
    h2 {
      color: rgb(1, 123, 91);
      span {
        color: #000;
      }
    }
  }
  .instructions {
    p {
      font-size: 1.1rem;
      line-height: 1.5;
      color: rgb(120, 120, 120);
      span {
        color: red;
      }
    }
  }
  .start-buttons {
    text-align: center;
    button {
      padding: 10px 28px;
      font-size: 1.1rem;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      outline: none;
      background-color: rgb(156, 215, 156);
      color: rgb(40, 36, 36);
      &:hover {
        background-color: rgb(163, 238, 163);
      }
    }
  }
}
